# Example Pillar values, all are optional
newrelic:
  #optional string, defaults to the latest in map.jinja
  version: "3.26.1"
  #optional string, defaults to C:\ in map.jinja
  install_path: "D:\"
  #optional string, defaults to minion's id in map.jinja
  app_name: "some-name-for-this-app"
  #optional string, default is false in configuration file
  high_security: "true"
  #optional string, default is false in configuration file
  enable_auto_app_naming: "true"